/* Modal popup styles */

.swal2-icon,
.swal2-warning,
.swal2-icon-show,
.swal2-icon .swal2-warning {
  border-color: black !important;
  color: black !important;
}
.swal2-icon-content {
  color: black;
}

.swal2-confirm {
  background-color: #fff !important;
  border: 2px solid black !important;
  color: black !important;
}

.swal2-cancel {
  background-color: rgb(170, 53, 53) !important;
  border: 2px solid rgb(170, 53, 53) !important;
  color: #fff !important;
}
